<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="LocalSqlServer"
         connectionString="Server=188.121.44.214; Database=covercenco;User Id=covercenco;Password=)c8}nKWk=Hvo%H^;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" xdt:Transform="Replace" />
  </system.web>

  <system.codedom xdt:Transform="Remove" />
</configuration>