<!--=============== Footer ===============-->
<footer>
    <div class="policy-box">
        <span>&#169; Covercenco 2019 All rights reserved</span>
        <ul>
            <li><a href="mailto:NickCovercenco@yahoo.com">nickcovercenco@yahoo.com</a></li>
            <li><a href="tel:+373 (68) 538 087">+373 (68) 538 087</a></li>
        </ul>
    </div>
    <!-- footer social -->
    <div class="footer-social">
        <ul>
            <li><a href="https://www.facebook.com/NicolaeCovercencoPhotography/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/nicolae_covercenco/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
        </ul>
    </div>
    <!-- footer social end -->
    <div class="to-top"><i class="fa fa-angle-up"></i></div>
</footer>
<!-- footer end -->